# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home2/lefl3378/skid.weeb.flolep.fr"
PassengerBaseURI "/"
PassengerNodejs "/home2/lefl3378/nodevenv/skid.weeb.flolep.fr/10/bin/node"
PassengerAppType node
PassengerStartupFile main.js
PassengerAppLogFile "/home2/lefl3378/logs/nodejs/ips.log"
# DO NOT REMOVE. CLOUDLINUX PASSENGER CONFIGURATION END
